<div class="bg-theme p-5 ">
  <ng-container class="container" >
    <h2 class="text-white" >Genreral Knowledge</h2>
  <p class="text-white" >Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
  </ng-container>
</div>

<div class="container mt-5 md-5 ">
  <div class="row">
    <div class="col-md-4" >
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4" >
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4" >
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4" >
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4" >
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4" >
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
