<div class="card mt-5 shadow-effect">
  <div class="card-body">
    <h4>Leave a comment</h4>
    <p>You Can leave a comment using this form</p>
    <form>
      <div>
        <label>Name</label>
        <input type="text" class="form-control shadow-effect" placeholder="Your name?"  >
      </div>
       <div class="form-group">
        <label for="">Comment</label>
        <textarea cols="30" rows="10" class="form-control shadow-effect" placeholder="Add Your Comment here"  ></textarea>
       </div>
        <button class="btn btn-info">Add a Comment</button>
    </form>
  </div>
</div>
