<div class="card mb-5 mt-5 pb-5 shadow-effect">
  <div class="card-body">
    <h4 class="mt-3 mb-3">Comment 12348</h4>
    <div class="coment-box mt-3" >
      <h6 class="mb-0">Muhammad Ali</h6>
      <small class="text-danger">28 Sep 2023</small>
      <div class="mt-3 mb-3" >
        Angular is a TypeScript-based, free and open-source single-page web application framework led by the Angular Team at Google and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS
      </div>
      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ml-3">View Reply</a>
      <hr>
    </div>
    <div class="coment-box mt-3" >
      <h6 class="mb-0">Muhammad Ali</h6>
      <small class="text-danger">28 Sep 2023</small>
      <div class="mt-3 mb-3" >
        Angular is a TypeScript-based, free and open-source single-page web application framework led by the Angular Team at Google and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS
      </div>
      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ml-3">View Reply</a>
      <hr>
    </div>
    <div class="coment-box mt-3" >
      <h6 class="mb-0">Muhammad Ali</h6>
      <small class="text-danger">28 Sep 2023</small>
      <div class="mt-3 mb-3" >
        Angular is a TypeScript-based, free and open-source single-page web application framework led by the Angular Team at Google and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS
      </div>
      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ml-3">View Reply</a>
      <hr>
    </div>
    <div class="coment-box mt-3" >
      <h6 class="mb-0">Muhammad Ali</h6>
      <small class="text-danger">28 Sep 2023</small>
      <div class="mt-3 mb-3" >
        Angular is a TypeScript-based, free and open-source single-page web application framework led by the Angular Team at Google and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS
      </div>
      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ml-3">View Reply</a>
      <hr>
    </div>
  </div>
</div>
