<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">Term and conditions</h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
      <p class="text-black" >Angular is a TypeScript-based, free and open-source single-page web application framework led by the Angular Team at Google and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS.</p>
      <p class="text-black" >Angular is a TypeScript-based, free and open-source single-page web application framework led by the Angular Team at Google and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS.</p>
      <p class="text-black" >Angular is a TypeScript-based, free and open-source single-page web application framework led by the Angular Team at Google and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS.</p>
        <div class="text-center" >
          <button class="btn btn-info btn-sm mt-4 btn-theme ">Back to Home</button>
        </div>
    </div>
  </div>
</section>
