<div class="container">
  <div class="row">
    <div class="col-md-9" >
      <div class="card shadow-effect" >
          <img src="../../../assets/im1.png" alt="">
        <div class="card-body" >
          <small class="bg-light text-danger  text-center">Design</small>
          <small class="bg-light text-sucess  text-center ml-2">Featured</small>
          <small class="bg-light text-info    text-center ml-2 ">Views 1000</small>
          <small class="bg-light text-warning text-center ml-2">2 June 2023</small>
          <h1 class="mt-3 mb-3">How To use Angular Signal in version 16?</h1>
          <p>
            Categories and Concepts | Noba
            This set of things can be considered a category, a set of objects that can be treated as equivalent in some way. But, most of our categories seem much more informative—they share many properties. For example, consider the following categories: trucks, wireless devices, weddings, psychopaths, and trout.
Categories and Concepts | Noba
This set of things can be considered a category, a set of objects that can be treated as equivalent in some way. But, most of our categories seem much more informative—they share many properties. For example, consider the following categories: trucks, wireless devices, weddings, psychopaths, and trout.</p>
        </div>
      </div>
      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>
    <div class="col-md-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
