  <div class="container" >
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="site-logo" >Angular News App</div>
        <div>
          <ul class="nav justify-content-center">
            <li class="nav-item px-2">
              <a class="nav-link active" href="#">Design</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link" href="#">Inspiration</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link" href="#">Sports</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link" href="#">Politics</a>
            </li>
          </ul>
        </div>
        <p>Copyrights 2023 by Muhammad Ali Khan</p>
      </div>

    </div>
  </div>
