<div class="card">
  <img src="../../../assets/im1.png" class="card-img-top" >
  <div class="card-body">
   <div class="small">
    <small class="bg-light text-danger text-center" >Desgin</small>
    <small class="bg-light text-success text-center ml-3" >Featured</small>
    <small class="bg-light text-info text-center ml-3" >Views 3000</small>
   </div>

    <h5 class="mt-1">Angular Signals Whatyou need to know?</h5>
    <p>Angular Signals is a system that granularly tracks how and where your state is used throughout an application, allowing the framework to optimize rendering updates</p>
    <small class="bg-light text-warning text-center ml-3">June 6 - 2023</small>

  </div>
</div>
